menu "PT1000"
    menu "I2C Configuration"
        config PT1000_I2C_SDA_PIN
            int "SDA Pin Number"
            default 6
            range 0 56
        config PT1000_I2C_SCL_PIN
            int "SCL Pin Number"
            default 7
            range 0 56
        config PT1000_I2C_ADC_ADDR
            hex "I2C Address of ads1115"
            default 0x49
            range 0x48 0x4b
    endmenu
endmenu
