menu "UV sensor / pt100 board config"
    menu "I2C Configuration"
        config UV_PT100_I2C_SDA_PIN
            int "SDA Pin Number"
            default 6
            range 0 56
        config UV_PT100_I2C_SCL_PIN
            int "SCL Pin Number"
            default 7
            range 0 56
        config UV_PT100_I2C_ADC_1_ADDR
            hex "I2C Address of first ads1115"
            default 0x48
            range 0x48 0x4b
        config UV_PT100_I2C_ADC_2_ADDR
            hex "I2C Address of second ads1115"
            default 0x49
            range 0x48 0x4b
    endmenu
endmenu
